* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}

@import "./common/styles/gradients";
@import "./common/styles/common";
@import "./common/styles/button";
@import "./common/styles/navbar";
@import "./styles/home.scss";
@import "./styles/hrBadge.scss";