* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
body {
    font-size: 1.6rem;
}

#root {
    height: 100%;
}

@import "./common/styles/gradients";
@import "./common/styles/common";
@import "./common/styles/button";
@import "./common/styles/navbar";
@import "./styles/home.scss";
@import "./styles/hrProfileUi";
@import "./styles/hackerrankProfile.scss";
@import "./styles/leetcodeProfile.scss";
@import "./styles/lcProfileUi.scss";
