.nav {
    @include flex;
    @include justify-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 1rem;
    max-height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    background: #ffffff;
    border-bottom: 0.1rem solid $select-border-color;

    &__logo {
        @include flex;
        @include align-c;

        height: 100%;
        width: 7rem;
        cursor: pointer;
        position: relative;

        &--img {
            height: 100%;
            width: 100%;
        }

        &--title {
            font-weight: bold;
            position: absolute;
            left: 4.5rem;
            line-height: 2rem;

            @include mobile {
                display: none;
            }
        }
        
    }

    &__right {
        @include flex;
        @include justify-between;
        @include align-c;
        gap: 0.5rem;
    }

    &__login-btn {
        text-decoration: none;
        font-size: clamp(1vw, 1.8rem, 2.5vw);
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        color: $hr-black-color;
        border: 0.1rem solid $select-border-color;
        transition: 0.7s;

        &:hover {
            background-color: #000;
            color: #f5f5f5;
            border: 0.1rem solid #f5f5f5;
        }
    }

    &__signup-btn {
        font-size: clamp(1vw, 1.8rem, 2.5vw);
        text-decoration: none;
        color: $white;
        padding: 1rem 2rem;
        background-color: #684ec8;
        border: 0.1rem solid #684ec8;
        border-radius: 0.5rem;
        transition: 0.5s;

        &:hover {
            background-color: #5640a4;
            border: 0.1rem solid #f5f5f5;
        }

        @include mobile {
            display: none;
        }
    }
}
