$hr-green-color: #068932;
$white: #ffffff;
$black: #000000;
$hr-gray-color: #b7c9cc;
$hr-black-color: #0E141E;
$font-family-text: "OpenSans, Arial, Helvetica, sans-serif";
$font-family-input: "SourceCodePro, monaco, Courier, monospace";
$colors-baseWhite: hsl(0, 0%, 100%);
$colors-baseBlack: hsl(221, 69%, 6%);
$colors-primary50: hsl(140, 60%, 95%);
$colors-primary100: hsl(141, 61%, 89%);
$colors-primary200: hsl(141, 59%, 69%);
$colors-primary300: hsl(141, 60%, 49%);
$colors-primary400: hsl(141, 72%, 38%);
$colors-primary500: hsl(140, 92%, 28%);
$colors-primary600: hsl(141, 92%, 25%);
$colors-primary700: hsl(140, 92%, 20%);
$colors-primary800: hsl(141, 92%, 15%);
$colors-primary900: hsl(140, 92%, 10%);
$colors-secondary50: hsl(196, 100%, 97%);
$colors-secondary100: hsl(194, 100%, 90%);
$colors-secondary200: hsl(194, 100%, 64%);
$colors-secondary300: hsl(194, 100%, 44%);
$colors-secondary400: hsl(202, 91%, 39%);
$colors-secondary500: hsl(205, 80%, 34%);
$colors-secondary600: hsl(222, 62%, 32%);
$colors-secondary700: hsl(222, 62%, 25%);
$colors-secondary800: hsl(223, 61%, 20%);
$colors-secondary900: hsl(222, 61%, 15%);
$colors-neutral50: hsl(180, 20%, 96%);
$colors-neutral100: hsl(187, 20%, 92%);
$colors-neutral200: hsl(189, 17%, 76%);
$colors-neutral300: hsl(187, 13%, 63%);
$colors-neutral400: hsl(187, 13%, 51%);
$colors-neutral700: hsl(201, 13%, 39%);
$colors-neutral800: hsl(214, 16%, 26%);
$colors-neutral900: hsl(218, 36%, 9%);
$colors-critical50: hsl(350, 75%, 98%);
$colors-critical100: hsl(353, 69%, 95%);
$colors-critical200: hsl(356, 68%, 91%);
$colors-critical300: hsl(355, 67%, 87%);
$colors-critical400: hsl(355, 66%, 83%);
$colors-critical500: hsl(355, 67%, 77%);
$colors-critical600: hsl(355, 66%, 71%);
$colors-critical700: hsl(355, 67%, 62%);
$colors-critical800: hsl(355, 74%, 47%);
$colors-critical900: hsl(355, 100%, 26%);
$colors-warning50: hsl(30, 67%, 98%);
$colors-warning100: hsl(25, 67%, 93%);
$colors-warning200: hsl(24, 68%, 88%);
$colors-warning300: hsl(25, 67%, 82%);
$colors-warning400: hsl(25, 66%, 76%);
$colors-warning500: hsl(25, 66%, 68%);
$colors-warning600: hsl(25, 67%, 60%);
$colors-warning700: hsl(25, 71%, 48%);
$colors-warning800: hsl(25, 100%, 35%);
$colors-warning900: hsl(25, 100%, 21%);
$colors-success50: hsl(175, 67%, 96%);
$colors-success100: hsl(175, 66%, 88%);
$colors-success200: hsl(175, 67%, 80%);
$colors-success300: hsl(175, 66%, 69%);
$colors-success400: hsl(175, 67%, 55%);
$colors-success500: hsl(175, 100%, 39%);
$colors-success600: hsl(175, 100%, 35%);
$colors-success700: hsl(175, 100%, 30%);
$colors-success800: hsl(175, 100%, 24%);
$colors-success900: hsl(175, 100%, 14%);
$fonts-sans: Open Sans, Arial, Helvetica, sans-serif;
$fonts-mono: Source Code pro, monaco, Courier, monospace;
$space-1: 4px;
$space-2: 8px;
$space-3: 16px;
$space-4: 24px;
$space-5: 32px;
$space-6: 48px;
$space-7: 96px;
$sizes-1: 4px;
$sizes-2: 8px;
$sizes-3: 16px;
$sizes-4: 24px;
$sizes-5: 32px;
$sizes-6: 48px;
$sizes-7: 64px;
$sizes-8: 96px;
$sizes-buttonHeightSm: 32px;
$sizes-buttonHeight: 40px;
$sizes-buttonHeightLg: 48px;
$sizes-inputHeight: 40px;
$sizes-inputWidth: 320px;
$sizes-minInputWidth: 180px;
$sizes-containerSm: 416px;
$sizes-containerMd: 636px;
$sizes-containerLg: 856px;
$fontSizes-1: 0.75rem;
$fontSizes-2: 0.875rem;
$fontSizes-3: 1rem;
$fontSizes-4: 1.25rem;
$fontSizes-5: 1.563rem;
$fontSizes-6: 1.953rem;
$fontSizes-7: 2.441rem;
$fontSizes-8: 3.052rem;
$fontSizes-9: 3.815rem;
$fontSizes-button: 1rem;
$fontSizes-buttonSm: 0.812rem;
$fontWeights-1: 400;
$fontWeights-2: 600;
$fontWeights-3: 700;
$lineHeights-0: 1rem;
$lineHeights-1: 1.25rem;
$lineHeights-2: 1.5rem;
$lineHeights-3: 1.75rem;
$lineHeights-4: 2rem;
$lineHeights-5: 2.5rem;
$lineHeights-6: 3.5rem;
$lineHeights-7: 3.75rem;
$lineHeights-8: 4rem;
$lineHeights-9: 4.5rem;
$radii-1: 4px;
$radii-round: 50%;
$radii-pill: 9999px;
$zIndices-1: 100;
$zIndices-2: 200;
$zIndices-3: 300;
$zIndices-4: 400;
$zIndices-max: 999;
$shadows-1: 0px 1px 4px rgba(37, 69, 105, 0.05), 0px 2px 8px rgba(37, 69, 105, 0.05);
$shadows-2: 0px 1px 4px rgba(37, 69, 105, 0.1), 0px 3px 12px rgba(37, 69, 105, 0.1);
$color-primary: #1ba94c;
$color-primary-dark: #068932;
$color-error: #d11534;
$color-bg: #f3f7f7;
$color-bg-2: #e7eeef;
$color-white: #fff;
$color-link: #097bbf;
$color-shade-lighter: #f3f7f7;
$color-shade-lighter-2: #f3f7f7;
$color-shade-light: #e7eeef;
$color-shade-medium: #b7c9cc;
$color-shade-medium-2: #b7c9cc;
$color-shade-dark: #738f93;
$color-shade-darker: #0e141e;
$color-text-light: #b7c9cc;
$color-text-medium-dark: #39424e;
$color-text-dark: #0e141e;
$color-text-dark-faded: #576871;
$modal-overlay-color: rgba(231, 238, 239, 0.9);
$active-tab-color: #000;
$select-border-color: #b3b3b3;
$shadow-border: 0.1px 1px 4px 0 #e7eeef;
$card-shadow-1: #fff;
$card-shadow-2: #fff;