.nav {
    @include flex;
    @include justify-between;

    padding-top: 1rem;
    max-height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    
    &__left {
        &--title {
            font-size: 3rem;
            font-weight: 800;
            margin-left: 1rem;
            cursor: pointer;

            &::after {
                content: "";
                display: inline-block;
                background: lighten($hr-green-color, 10);
                margin-left: 0.1rem;
                height: 2rem;
                width: 1.2rem;
            }

            @include tablet {
                font-size: 1.5rem;
            }
        }
    }

    &__middle {
        color: green;
    }

    &__right {
        @include flex;
        @include justify-between;
        @include align-c;
    }

    &__login-btn {
        text-decoration: none;
        line-height: 1.538em;
        font-size: 1.8rem;
        font-weight: 600;
        margin-right: 2rem;
        color: $hr-black-color;
    }

    &__signup-btn {
        font-size: 1.8rem;
        text-decoration: none;
        color: $white;
        padding: 1rem 2rem;
        background-color: $hr-green-color;
        border-radius: 0.5rem;
        transition: 1s;

        &:hover {
            background-color: lighten($hr-green-color, 5);
        }
    }
}
