$color1:#673b14;
$color2:#f8b13b;

.loader {
  display:  flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__time {
    width: 4rem;
    height:8rem;
    border-top:4px solid $color1;
    border-bottom:4px solid $color1;
    background: linear-gradient(90deg, $color1 2px, $color2 0 5px,$color1 0) center/7px 8px no-repeat;
    display: grid;
    overflow: hidden;
    animation:time1 3s infinite linear;
  
    &:before, &:after {
      content: "";
      grid-area: 1/1;
      width: 75%;
      height: calc(50% - 4px);
      margin: 0 auto;
      border: 2px solid $color1;
      border-top: 0;
      border-radius: 0 0 40% 40%;
      -webkit-mask: 
        linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite:exclude;
      background: 
        linear-gradient(var(--d,0deg),$color2 50%,#0000 0) bottom /100% 205%,
        linear-gradient($color2 0 0) center/0 100%;
      background-repeat: no-repeat;
      animation:inherit;
      animation-name: time2;
    }
  
    &:after {
      transform-origin: 50% calc(100% + 2px);
      transform: scaleY(-1);
      --s:3px;
      --d:180deg;
    }
  }
}

@keyframes time1 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}

@keyframes time2 {
  10%,50%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}