@import "components/styles/flex";
@import "components/styles/responsive";

$cell-height : 1.5rem;
$cell-width : 1.5rem;
$cell-margin: 0.101rem;
$cell-weekdays-width: 0.5rem;

.timeline {
  width: 100%;
  @include flex;
  @include align-c;
  padding: 0rem 0.4rem;
  
  .timeline-months {
    display: flex;
    padding-left: $cell-weekdays-width;

    &-month {
      width: $cell-width;
      margin: $cell-margin;
      border: 0.1rem solid transparent;
      font-size: 1rem;
    }

    .Jan~.Jan,
    .Feb~.Feb,
    .Mar~.Mar,
    .Apr~.Apr,
    .May~.May,
    .Jun~.Jun,
    .Jul~.Jul,
    .Aug~.Aug,
    .Sep~.Sep,
    .Oct~.Oct,
    .Nov~.Nov,
    .Dec~.Dec {
      visibility: hidden;
    }

    &--none {
        display: none;
    }
  }

  &-body {
    @include flex;
    @include align-c;

    .timeline-weekdays {
      display: inline-flex;
      flex-direction: column;
      width: $cell-weekdays-width;

      &-weekday {
        font-size: 1rem;
        height: $cell-height;
        border: 0.1rem solid transparent;
        margin: $cell-margin;
        vertical-align: middle;
      }

      &--none {
        display: none;
      }
    }

    .timeline-cells {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 12rem;

      &-cell {
        height: $cell-height;
        width: $cell-width;
        border: 0.1rem solid rgba(0, 0, 0, 0.1);
        margin: $cell-margin;
        border-radius: 0.2rem;
        background-color: rgba(0, 0, 0, 0.05);

        &:hover {
          border:0.1rem solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
