.gh-profile {

  &__nav {
    @include flex;
    @include justify-c;
    
    align-items: flex-end;
    width: 100%;
    height: 10vh;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid hsl(210deg 18% 87%);

    &--items {
      @include flex;
      width: 60%;
      justify-content: center;
    }

    &--item {
      @include flex;
      @include align-c;

      margin-right: 1.5rem;
      cursor: pointer;
      padding: 0.8rem;
      border-radius: 0.5rem;

      &:hover {
        border-bottom-color: rgb(175 184 193 / 20%);
        color: #24292f;
        background-color: #eaeef2;
        outline-offset: -2px;
        text-decoration: none;
        transition: border-bottom-color .12s ease-out;
      }
    }

    &--active {
      border-bottom: 0.2rem solid $active-tab-color;
      color: $active-tab-color;
    }

    &--icon {
      margin-right: 0.5rem;
    }
  }

  &__main {
    @include flex;

    width: 100%;

    @include breakpoint(900px) {
      @include flex-col;
    }
  }

  &__left {
    padding: 0rem 3rem 2rem 10rem;
    width: 35%;

    @include breakpoint(1050px){
      padding-left: 2rem;
    }

    @include breakpoint(900px) {
      width: 100%;
      padding-left: 8rem;
    }
  }

  &__header {
    @include flex-col;
    position: relative;

    @include breakpoint(1000px){
      flex-direction: row;
      justify-content: center;
    }

    &--img {
      position: relative;
      top: -5rem;
      left: 1rem;
      width: auto;

      img {
        border-radius: 50%;
        height: 30rem;

        @include breakpoint(1350px){
          height: 20rem;
        }

        @include breakpoint(1250px){
          height: 15rem;
        }

        @include breakpoint(1150px){
          height: 12rem;
        }

        @include breakpoint(1050px){
          height: 10rem;
        }
      }

      @include breakpoint(1000px){
        position: static;

        img {
          height: 8rem;
          margin-right: 2rem;
        }
      }
    }

    &--details {
      @include flex-col;
      margin-top: -3.5rem;
      margin-bottom: 1rem;

      @include breakpoint(1000px){
        margin-top: 0;
      }
    }

    &--name {
      font-size: 2.4rem;
      line-height: 1.25;
    }

    &--username {
      font-size: 2rem;
      line-height: 1.25;
      color: #57606a;
      font-weight: 300;
    }
  }

  &__bio {
    margin-top: 1rem;

    a {
      color: inherit;
      text-decoration: none;
      font-weight: 800;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__connections {
    @include flex;
    margin-top: 1rem;
    color: #57606a;

    &--icon {
      margin-right: 0.5rem;
    }

    &--followers {
      margin-right: 0.5rem;

      &:after {
        content: '.';
        margin: 0 0 0 0.5rem;
      }

      span {
        color: $active-tab-color;
        font-weight: 600;
      }
    }

    &--following {
      margin-right: 1rem;

      span {
        color: $active-tab-color;
        font-weight: 600;
      }
    }
  }

  &__info {
    @include flex;
    margin-top: 1rem;
    color: rgb(36, 41, 47);

    &--icon {
      margin-right: 1rem;
    }

    &--detail {
      @include flex;
      padding-left: 0;
      overflow: none;

      a {
        @include flex;
        flex-wrap: wrap;
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: $color-link;
        }
      }
    }
  }

  &__right {
    width: 60%;
    padding: 2rem;
    border-left: 0.1rem solid hsl(210deg 18% 87%);
    min-height: 90vh;

    @include breakpoint(900px) {
      width: 100%;
    }
  }

  &__overview {

  }

  &__contributions {
    padding-top: 1rem;

    &:before {
      content: 'Contributions';
      font-size: 1.8rem;
      font-weight: 600;
      color: #57606a;
      display: block;
      margin-bottom: 2rem;
    }
  }

  &__stats {
    @include flex;
    width: 100%;
  }

  &__repos {
    width: 100%;
    @include flex;
    flex-wrap: wrap;
  }

  &__live-projects {
    margin-top: 2rem;  
    &--list {
      display: flex;
      border-radius: 6px;
      color: #333;
      padding: 1rem;
      overflow-x: auto;
      position: relative;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }

    h2,h1 {
      content: 'Live Projects';
      font-size: 1.8rem;
      font-weight: 600;
      color: #57606a;
      display: block;
      margin-bottom: 1rem;
    }

    h2:hover {
      text-decoration: underline;
      color: $cf-color-text-1;
    }
  }
}
